.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

/* Some stupid div the Router inserts */
.App > div {
  width: 100%;
  height: 100%;
}

.Home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Home-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Home-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Drawing {
  font-family: "KidsDrawings";
  font-size: calc(25px + 15vmin);
  flex-grow: 1;
  color: black;
  margin-left: 3vmin;
  margin-right: 3vmin;
  text-shadow: 0.5vmin 0.7vmin 1vmin rgba(61, 37, 37, 0.2);
  cursor: pointer;
  user-select: none;
}

.Drawing-left {
  margin-top: 21vmin;
}

.Drawing-right {
  margin-bottom: 21vmin;
}

.Logo {
  flex-grow: 2;
}

.Logo img {
  display: block;
  width: 100%;
  max-height: 45vh;
}

.Home-footer {
  font-size: 14px;
  text-align: right;
  padding-right: 1vw;
  padding-bottom: 1vw;
}

.Join {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.Join-logo {
  flex-grow: 1;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Join-logo .Logo {
  flex-grow: 0;
}

.Join-logo .Logo img {
  max-height: 90vh;
  width: 40vw;
}

.Join-content {
  flex-grow: 1;
  flex-basis: 50%;
}

.Join-content .Avatar {
  margin-top: 0.5vmin;
  margin-bottom: 3vmin;
}

.Join-content label {
  display: block;
  margin-bottom: 0.9vmin;
}

.Join-content input {
  width: 80%;
  margin-bottom: 4vmin;
}

.Draw {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Draw-tools {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Draw-tools .tool-button {
  margin: 2vmin;
}

.Draw-canvas {
  flex-grow: 1;
}

.Draw-canvas canvas {
  touch-action: none;
  display: block;
  max-width: 100%;
  max-height: 100vh;
}

.Avatar {
  font-family: "TheFreakyFace";
  font-size: 25vmin;
  vertical-align: middle;
  border: 0.7vmin solid black;
  border-radius: 50%;
  background-color: white;
  width: 24vmin;
  height: 24vmin;
  line-height: 29vmin;
  margin: 0 auto;
  cursor: pointer;
  user-select: none;
  box-shadow: 0.5vmin 0.7vmin 1vmin rgba(0, 0, 0, 0.2);
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 2vmin 4vmin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4vmin;
  font-size: 1em;
  box-shadow: 0.5vmin 0.7vmin 1vmin rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
}

.button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

.tool-button {
  background-color: rgb(40, 27, 219);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  font-size: 0.7em;
  box-shadow: 0.5vmin 0.7vmin 1vmin rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
  width: 15vmin;
  height: 15vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-popup {
  position: absolute;
  margin-left: 2vmin;
  width: 30vmin;
  height: 15vmin;
  background-color: blue;
}
