.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

/* Some stupid div the Router inserts */
.App > div {
  width: 100%;
  height: 100%;
}

.Join {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.Join-logo {
  flex-grow: 1;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Join-logo .Logo {
  flex-grow: 0;
}

.Join-logo .Logo img {
  max-height: 90vh;
  width: 40vw;
}

.Join-content {
  flex-grow: 1;
  flex-basis: 50%;
}

.Join-content .SelectAvatar {
  margin-top: 0.5vmin;
  margin-bottom: 3vmin;
}

.Join-content label {
  display: block;
  margin-bottom: 0.9vmin;
}

.Join-content input {
  width: 80%;
  margin-bottom: 4vmin;
}

.WaitForPlayers {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.WaitForPlayers-left {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.Players-title {
  padding-left: 2vmin;
}

.Players {
  flex: auto;
  min-height: 10vmin;
  border: 0.7vmin solid black;
  border-left-width: 0;
  border-bottom-width: 0;
  border-radius: 2vmin;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 2vmin;
  margin-right: 5vmin;
  background-color: white;
  box-shadow: 0.5vmin 0.7vmin 1vmin rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.Players .Player {
  margin-bottom: 2vmin;
}

.Player {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.Player .Avatar {
  flex: none;
  margin-right: 2vmin;
}

.WaitForPlayers-right {
  height: 100%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.WaitForPlayers-right .field {
  white-space: nowrap;
  user-select: all;
  max-width: 44vw;
  overflow: auto;
}

.WaitForPlayers-right .Logo {
  flex-grow: 0;
}

.WaitForPlayers-right .Logo img {
  width: 30vmin;
}

.SelectAvatar {
  cursor: pointer;
  width: 24vmin;
  height: 24vmin;
  vertical-align: middle;
  margin: 0 auto;
}

.Avatar {
  font-family: "TheFreakyFace";
  font-size: 30vmin;
  border: 0.7vmin solid black;
  border-radius: 50%;
  background-color: white;
  width: 24vmin;
  height: 24vmin;
  line-height: 21vmin;
  user-select: none;
  box-shadow: 0.5vmin 0.7vmin 1vmin rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow: hidden;
}

.Avatar-small {
  width: 16vmin;
  height: 16vmin;
  font-size: 20vmin;
  line-height: 14.2vmin;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1vmin;
}

.buttons .button {
  margin: 1vmin;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 2vmin 4vmin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4vmin;
  font-size: 1em;
  box-shadow: 0.5vmin 0.7vmin 1vmin rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
}

.button-cancel {
  background-color: #b00;
}

.button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

.Type {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.Type textarea {
  width: 80vw;
  height: 20vh;
  margin: 2vmin 0;
}

.Type h1 img {
  width: 25vmin;
  margin-top: 2.3vmin;
}

.Type button {
  margin-bottom: 3vmin;
}

.Drawing {
  display: block;
  margin: 2vmin 0;
  max-height: 100vh;
  max-width: 90vw;
}
