.Dialog {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.Dialog-content {
  width: 90vw;
  height: 90vh;
  border: 0.7vmin solid black;
  border-radius: 4vmin;
  background-color: white;
  box-shadow: 0.5vmin 0.7vmin 1vmin rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
