html,
body,
#root {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: 'KidsDrawings';
  src: local('MyFont'), url(./fonts/KidsDrawings.woff) format('woff');
}

body, button {
  font-family: 'Comic Neue', sans-serif;
  font-size: calc(14px + 3vmin);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffbe;
  color: black;
}

a {
  color: black;
}
